@media only screen and (min-device-width:230px) and (max-device-width: 980px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-image: url(/images/fondEcranBois.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    body li {
        list-style: none;
    }
/* ***************************************************************************** */
    header {
        width: 100%;
        height: auto;
        border: 2px solid rgb(9, 9, 201);
        background-image: url(/images/vagueMainNav.jpg);
        background-size: cover;
        padding: 10px;
    }

    .mainNav li {
        display: inline;
    }

    header>nav>ul>li>a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
/* ***************************************************************************** */
    .moi {
        width: auto;
        height: auto;
        margin: 20px;
        text-align: center;
        opacity: 1;
        /* border: 2px solid brown;
        A SUPPRIMER */
    }

    .blockLeft {
        width: auto;
        height: auto;
        margin: 10px;
        padding: 5px;
        border: 2px outset;
        background-color: rgb(25, 160, 233);
    }

    .blockRight {
        width: auto;
        height: auto;
        margin: 10px;
        padding: 5px;
        border: 2px outset;
        background-color: rgb(7, 41, 230);
    }
/* ***************************************************************************** */
    footer {
        width: auto;
        height: auto;
        border: 2px solid rgb(9, 9, 201);
        background-image: url(/images/vagueMainNav.jpg);
        background-size: cover;
        padding: 10px;
    }

    footer>p {
        margin: 5px;
        overflow: visible;
        color: rgb(54, 3, 3);
        opacity: 0.8;
    }

    footer>p>a {
        text-decoration: none;
    }

}

